<% provide :title, t(".title_new") %>
<% provide :button_text, t(".btn_create") %>
<section class="signup">
  <div class="container-sign">
    <div class="signup-content">
      <div class="signup-form">
        <h2 class="form-title"><%= t(".title_new") %></h2>
        <%= render "form" %>
      </div>
    </div>
  </div>
</section>
