$gray-medium-light: #dee2e6;
$white-gray: #ebebe0;
$white: #fff;
$blue_h1: #0091ff;
$gray_h2: #6c757d;
$btn_background1: #6dabe4;
$btn_background2: #4292dc;
$btn_background3: #fff;
$footer_down: #888;
$page_top: #f8f8f8;
$login_hover: #fec503;
$color_black :#000000;
