@import 'bootstrap';
@import 'color.scss';
@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap");

// --- Discovery-page ---

h1 {
  color: $blue_h1;
  font-weight: bold;
  font-size: 3em;
  font-family: "Libre Baskerville", serif;
}

h4 {
  font-weight: bold;
  font-size: 1em;
  color: $gray_h2;
  font-family: "Merriweather", serif;
}

.name_place {
  margin-left: 100px;
  margin-bottom: 10px;
  color: $blue_h1;
  font-weight: bold;
  font-size: 1.5em;
  font-family: "Libre Baskerville", serif;
}

.item {
  font-weight: bold;
  font-size: 1em;
  color: $gray_h2;
  font-family: "Merriweather", serif;
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 10%;
}

.fix_body {
  margin-top: 215px;
}

.fix_center {
  text-align: center;
}

.fix_img {
  width: 500px;
}

.fix_dropdown {
  padding-top: 14px;
  margin-right: 10px
}

.fix_color {
  color: $btn_background3;
}

.form-btn {
  display: inline-block;
  background: $btn_background1;
  color: $btn_background3;
  border-bottom: none;
  width: auto;
  padding: 10px 39px;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer; }
  .form-btn:hover {
    background: $btn_background2 }

// --- Header-Footer ---

img {
  vertical-align: middle;
  border-style: none;
  width: 20px;

}

.static {
  text-align: left;
}

div.static{
  float: left;
  width: 250px;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

.footer-down-stats-desc {
  color: $footer_down;
}
.footer-down-stats .footer-down-stats-header {
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 3px;
  text-transform: lowercase;
}

.header_custom {
  margin-bottom: 120px;
}

.footer_custom {
  background: $white-gray;
  margin-top: 30px;
}

// --- Upload Cover Photo ---

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: $white;
  cursor: inherit;
  display: block;
}

// --- Blog ---

.title {
 margin-left: 413px;
 padding-top: 20px;
}

.box {
  display: inline-block;
  width: 27%;
  height: 250px;
  margin-left: 53px;
  margin-bottom: 30px;
}

.cp_blog {
  padding-bottom: 30px;
}

.cover_photo_blog_index {
  width: 300px;
  height: 200px;
}

.topic_blog {
  padding-top: 5px !important;
  font-weight: 700;
  color: $color_black !important;
  font-size: 16px;
  height: 50px;
  display: block;
  width: 100%;
  overflow: hidden;
}

.crop_text_2 {
  -webkit-line-clamp: 2;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.title_blog {
  font-size: 25px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.horizontal {
  display: block;
  width: 100%;
  height: 2px;
  background: $color_black;
  margin: 37px 0;
}

.cover_photo_show {
  width: 725px;
  height: 420px;
  margin-bottom: 10px;
}

.rencent_cate_blog {
  text-align: center;
  display: inline-block;
  height: 40px;
  padding: 5px;
  width: 100%;
  background-color: $white-gray;
}

.img_thumbnail {
  width: 100%;
  height: 200px;
  padding: 0.25rem;
  background-color: $white;
  border: 1px solid $gray-medium-light;
  border-radius: 0.25rem;
  max-width: 100%;
}

.box_related {
  display: inline-block;
  width: 33%;
  height: 250px;
  margin-bottom: 30px;
}

.submit {
  margin-top: 30px;
}

display-flex, .display-flex, .display-flex-center, .signup-content, .signin-content, .social-login, .socials {
  display: flex;
  display: -webkit-flex; }

list-type-ulli, .socials {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.image-sign{
  width: 294px;
  height: 314px;
}
#page-top{
  background: $page_top;
}
.container-body{
  margin-top: -75px;
}
.img-avatar{
  width: 350px;
  height: 314px;
  margin-left: 20px;
}

lable.checkbox_inline {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}
.login-header{
  padding-top:15px;
}
.a-login{
  color: $white;
}
.a-login:hover {
  color: $login_hover;
  text-decoration: none;
}
li.dropdown{
 margin-top: 15px;
 margin-left: 10px;
}
a.dropdown-toggle{
  color: $white;
  text-decoration: none;
}
ul.dropdown-menu.show{
  text-align: center;
  background-color: $footer_down;
}
