<div class="fix_body">
  <div class="container">
    <div class="fix_center">
      <h1><%= t ".update" %></h1><br><br>
    </div>
    <div class="row">
      <div class="col-md-6">
        <br><img class="fix_img" src="/assets/hoguom.jpg">
      </div>
      <div class="col-md-6">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
