<div class="fix_body">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="fix_center">
          <h1><%= t ".search" %></h1>
        </div>
      </div>
      <div class="col-8">
        <div class="fix_center">
          <h1><%= @title %></h1><br>
        </div><hr>
        <%= render @places %>
        <%= paginate @places, theme: "twitter-bootstrap-4" %>
      </div>
    </div>
  </div>
</div>
